td{ 
    padding : 10px;
    text-align: center;
    border : 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

th{ 
    padding : 10px;
    border : 1px solid #ffffff;
    background-color: rgb(59, 221, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;    
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
}

.jour{
    text-align: left;
    background-color: #eeeeee;
}

.heure{
    background-color: #eeeeee;
    width: 200px;
}

.pink{
    background-color: rgb(255, 0, 200);
}
.blue{
    background-color: rgb(59, 221, 243);
}
.blue_dark{ 
    background-color: rgb(0, 23, 94);
    color: white ;
}
.purple{
    background-color: purple;
    color : white
}
.vert{
    background-color: rgb(46, 228, 0);
}
.orange{
    background-color: orange;
}